#content{
  overflow: auto;
  height: 100%}
body {
  width: 95%;
  margin: 0 auto;}
.header {
    font-family: Arial Black, Gadget, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);}
.nav {
  float: center;
  display: block;
  text-align: center;
  background-color: rgb(255,255,255)
  padding: 10px, ;
  margin top: 20px:}
.topcolumn_project_to-date {
  float: left;
  width: 620;
  margin: 10px;}
.card_project_WBSandRisk{
  float: right;
  width: 300px
  padding: 10px;}
.middletcolumn_project_scurve {
  float: left;
  width: 620;
  margin: 10px;}
.bottomcolumn_periodbarchart {
  float: left;
  width: 620;
  margin: 10px;}
.row: after{
  content: "";
  display: table;
  clear: both;}
li {
  display: inline;
  padding: 5px}
h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);}
p {
    font-family: "Times New Roman", Times, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);}
table {
  border-collapse: collapse;
  width: 100%;}
table, td, th{
  text-align: center;
  border: 1px solid black;}
th {
  background-color: rgb(176, 196, 222);
  height: 25px;}
img {
  float; right;}
</style>
